<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Digiturno notarial{% endblock %}</title>
  <script src="https://cdn.tailwindcss.com"></script>
  {% block extra_head %}{% endblock %}
</head>
<body class="flex flex-col min-h-screen bg-gray-50 text-gray-800">

  {% block header %}
  <!-- Header estilo HyperUI -->
    {% include 'includes/header.html' %}
  {% endblock %}

  <main class="flex-grow">
    {% block content %}{% endblock %}
  </main>

  {% block footer %}
  <!-- Footer estilo HyperUI -->
    {% include 'includes/footer.html' %}
  {% endblock %}

</body>
</html>